{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block maincontent %}


{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p></p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="col-lg-4 col-sm-6" style="margin: auto; text-align: center">
    <fieldset style="font-family: 'Nunito Sans'">
        <legend style="text-align: center ">Please login to see this page.</legend>
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Login" class="btn btn-primary"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </fieldset>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p style="text-align: center"><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
