{% extends 'base.html' %}

{% block maincontent %}

<section class="section-weare section-padding">

    <h1 style="text-align: center">We are Petsitters</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p style="font-style: italic">Are you leaving somewhere and you have no one to leave your beloved
                    pet with, or do you just have no time to go for a walk with your beloved dog?</p>
                <div class="section-text">
                    <p>We guarantee that your pet will be treated like a member of their own family. For peace of
                        mind on the road, simply find the right sitter to take care of your pet for as long as it
                        takes - be it just for a weekend or for a few weeks. Petsitter services are suitable for
                        dogs and cats of all ages, including puppies and kittens, and are the perfect solution for
                        pet owners looking for a safe, comfortable alternative to hotels.</p>
                    <p>And if you just want to relax or there are other reasons why you cannot walk with your dog,
                        then our walking specialists will be happy to help you and take a walk with your pet.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="section-weare-image">
                    <img src="/static/IMG_5870.PNG" alt="О сервисе Petsitters" style="max-width: 140%;">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-weare section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="section-weare-image image--center">
                    <img src="/static/IMG_5864.PNG" alt="О сервисе Petsitters" style="max-width: 140%;">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-service-column">
                    <div class="section-maintitle maintitle--about">
                        <h2 class="section__title">A pet care service you can trust</h2>
                    </div>
                    <div class="section-text">
                        <p>All sitters and dog walkers are screened for competence and a safety test. All profiles
                            collected on the site are pre-checked to ensure the required competencies of the account
                            owner.</p>
                        <p>Nobody knows your pet better than you. Use our advanced search to
                            find the most suitable sitter or walker who will provide proper care
                            your favorite for all its unique needs.</p>
                        <p>Pet owners and sitters can arrange a personal meeting after booking to
                            discuss all the details and make sure everything meets your expectations.</p>
                        <p class="text--accent">Мы всегда рядом, когда вы нуждаетесь в нас - 24/7.</p>
                        <p>If you need help with a booking, veterinarian advice or assistance in a difficult
                            situation,
                            our trust and safety team is always ready to help you and your pets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock maincontent %}
