{% extends 'base.html' %}

{% block maincontent %}

<div class="section section-md">
    <div class="container">
        <div class="row mb-5">
            <form class="col-lg-4 col-sm-6">
                <fieldset style="font-family: 'Nunito Sans'">
                    <legend style="text-align: center ">Customer sign up</legend>
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="validationServer01">Name</label>
                        <input type="text" class="form-control" id="validationServer01" required="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-4">
                        <label for="validationServerUsername">Surname</label>
                        <input type="text" class="form-control" id="validationServerUsername" required="">
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-4">
                        <label for="exampleInputEmail6">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail6">
                        <small id="emailHelp" class="form-text text-gray">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1">Write something about yourself</label>
                        <textarea class="form-control" placeholder="Enter your message..."
                                  id="exampleFormControlTextarea1"
                                  rows="4"></textarea>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-3">
                        <label class="my-1 me-2" for="inlineFormCustomSelectPref">Chose your pets</label>
                        <select class="form-select" id="inlineFormCustomSelectPref" aria-label="Default select example">
                            <option selected="">Pets</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-4">
                        <label for="validationServerUsername">Pet name</label>
                        <input type="text" class="form-control is-invalid" id="validationServerPetname" required="">
                        <div class="invalid-feedback">
                            Please write a pet name.
                        </div>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Chose a photo</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <!-- End of Form -->
                    <div class="col-12">
                        <button class="btn btn-lg btn-warning" type="submit">Sign up like a customer</button>
                    </div>
                </fieldset>

            </form>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
                <div class="card border-0 overflow-hidden" style="background-color: initial;">
                    <div class="position-relative">
                        <img src="/static/IMG_5902.PNG" class="card-img-top"
                             alt="Neil Portrait">
                    </div>
                    <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                        <h3 class="h5 card-title">Pets Sitters</h3>
                        <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>Minsk, Belarus</span>
                        <p class="mt-3">Choose whom to join: to our team - a team of professionals who love and care
                            about their business or to our clients - people who love and take care of their pets.</p>
                        <div>
                            <img src="/static/IMG_5923.PNG" class="card-img-top"
                                 alt="img5923">
                        </div>
                    </div>
                </div>
            </div>
            <form class="col-lg-4 col-sm-6">
                <fieldset style="font-family: 'Nunito Sans'">
                    <legend style="text-align: center ">Sitter sign up</legend>
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="validationServer01">Name</label>
                        <input type="text" class="form-control" id="1validationServer01" required="">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-4">
                        <label for="validationServerUsername">Surname</label>
                        <input type="text" class="form-control" id="1validationServerUsername" required="">
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-4">
                        <label for="exampleInputEmail6">Email address</label>
                        <input type="email" class="form-control" id="1exampleInputEmail6">
                        <small id="1emailHelp" class="form-text text-gray">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1">Write something about yourself</label>
                        <textarea class="form-control" placeholder="Enter your message..."
                                  id="1exampleFormControlTextarea1"
                                  rows="4"></textarea>
                    </div>
                    <!-- End of Form -->
                    <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
                        <!-- Radio -->
                        <fieldset>
                            <legend class="h6">Experience</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                       value="option1" checked="">
                                <label class="form-check-label" for="exampleRadios1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                       value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    No
                                </label>
                            </div>
                            <!-- End of Radio -->
                        </fieldset>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-lg btn-warning" type="submit">Sign up like a sitter</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock maincontent %}
