{% extends 'base.html' %}

{% block maincontent %}

<div class="section section-lg bg-primary-app pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center mb-4 mb-lg-6">
                <h2 class="display-2 fw-bold">
                    Testimonials
                </h2>
                <p class="lead">Hear more from companies like yours</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-4 text-center">
                <div class="border-gray-300 mb-4">
                    <div class="card-body py-5">
<!--                        <img src="/static/assets/img/clients/airbnb.svg" class="img-fluid image-sm" alt="Airbnb logo">-->
                        <img src="/static/IMG_5894.PNG" alt="О сервисе Petsitters" class="img-fluid">

                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class=" border-gray-300 mb-4">
                    <div class="card-body py-5">
<!--                        <img src="/static/assets/img/clients/paypal.svg" class="img-fluid image-sm" alt="Paypal logo">-->
                        <img src="/static/IMG_5918.PNG" alt="О сервисе Petsitters" class="img-fluid">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class=" border-gray-300 mb-4">
                    <div class="card-body py-5">
<!--                        <img src="/static/assets/img/clients/paypal.svg" class="img-fluid image-sm" alt="Paypal logo">-->
                        <img src="/static/IMG_5919.PNG" alt="О сервисе Petsitters" class="img-fluid">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="border-gray-300 mb-4">
                    <div class="card-body py-5">
<!--                        <img src="/static/assets/img/clients/paypal.svg" class="img-fluid image-sm" alt="Paypal logo">-->
                        <img src="/static/IMG_5921.PNG" alt="О сервисе Petsitters" class="img-fluid">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class=" border-gray-300 mb-4">
                    <div class="card-body py-5">
<!--                        <img src="/static/assets/img/clients/paypal.svg" class="img-fluid image-sm" alt="Paypal logo">-->
                        <img src="/static/IMG_5922.PNG" alt="О сервисе Petsitters" class="img-fluid">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class=" border-gray-300 mb-4">
                    <div class="card-body py-5">
<!--                        <img src="/static/assets/img/clients/paypal.svg" class="img-fluid image-sm" alt="Paypal logo">-->
                        <img src="/static/IMG_5924.PNG" alt="О сервисе Petsitters" class="img-fluid">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock maincontent %}
